# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env/

# Streamlit
.streamlit/

# Model files (biarkan dibuat runtime)
models/*.h5
models/*.pkl
models/*.joblib

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
